pyglet<=1.5.0
gym<=0.17.1

numpy>=1.10.0

pyzmq>=16.0.0
scikit-image>=0.13.1
opencv-python>=3.4
pyyaml>=3.11
cloudpickle

dataclasses<=0.6; python_version < '3.7'
carnivalmirror==0.6.2
duckietown-world-daffy-aido4

# testing
pipdeptree
